#about > span {
  margin: 10px 140px;
}

.about-info-link {
  text-decoration: none;
  color:blue;
  transition: all .2s ease;
}

.about-info-link:hover {
  text-shadow: 1px 1px 1px black;
  transition: all .1s ease;
}
