#email {
  text-decoration: none;
  transition: all .2s ease;
}

#email:hover {
  text-shadow: 2px 2px 2px black;
  transition: all .1s ease;
}

#contact-info {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#resume {
  color: black;
  font-weight: 900;
  font-size: 42px;
  text-decoration: none;
}

.contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  height: 50px;
  width: 180px;
  margin: 5px;
  transition: all .2s ease;
}

.contact-btn:hover {
  box-shadow: 2px 2px 2px black;
  transition: all .1s ease;
}

.contact-btn > img {
  height: 42px;
  width: 160px;
}
