#navbar {
  z-index: 1;
  position: fixed;
  right: 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  transition: transform 1s ease-out;
  margin: 10px;
}

#navbar.hidden {
  transform: translateX(135px)
}

#navbar a {
  font-size: 24px;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
  transition: all .2s ease;
}

#navbar a:hover, a.active {
  text-shadow: 2px 2px 2px black;
  transition: all .1s ease;
}

#about-link:hover, #about-link.active {
  color: #95190c
}

#code-link:hover, #code-link.active {
  color: #107e7d
}

#music-link:hover, #music-link.active {
  color: #e28904
}

#contact-link:hover, #contact-link.active {
  color: #610345
}
