.projects {
  display: inline-flex;
  justify-content: center;
}

.project {
  display: inline-flex;
  flex-direction: column;
  width: 350px;
  margin: 20px;
}

.embed {
  box-sizing: border-box;
  width: 350px;
  height: 350px;
  transition: all .2s ease;
  border: 1px solid white;
}

.embed:hover {
  box-shadow: 2px 2px 2px black;
  transition: all .1s ease
}
