#name {
  position: fixed;
  z-index: 1;
  font-size: 80px;
  text-shadow: 2px 2px 2px black;
  left: 20px;
  color: white;
  transition: all 1s ease-out
}

#name.hidden {
  transform: translateX(-680px);
  transition: all 2s ease;
}
