.guitars {
  height: 350px;
  width: 350px;
}

.projects {
  margin: 20px 140px;
  display: inline-flex;
  justify-content: space-between;
}

.project {
  display: inline-flex;
  flex-direction: column;
  width: 350px;
}