#navbar {
  z-index: 1;
  position: fixed;
  right: 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  transition: transform 1s ease-out;
  margin: 10px;
}

#navbar.hidden {
  transform: translateX(135px)
}

#navbar a {
  font-size: 32px;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  transition: all .15s ease-out;
}

#navbar a:hover, a.active {
  text-shadow: 2px 2px 2px black;
}

#about-link:hover, #about-link.active {
  color: rgb(0, 183, 255);
}

#code-link:hover, #code-link.active {
  color: rgb(255, 136, 0);
}

#music-link:hover, #music-link.active {
  color: rgb(94, 255, 0);
}

#contact-link:hover, #contact-link.active {
  color: rgb(204, 0, 255);
}
