.navbar {
  z-index: 1;
  position: fixed;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.name {
  font-size: 60px;
  text-shadow: 2px 2px 2px black;
  text-align: left;
  margin-left: 20px;
  color: white;
  transition: transform 1s ease-out
}

.name.hidden {
  transform: translateX(-615px);
}

.links {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px 20px;
  transition: transform 1s ease-out;
}

.links.hidden {
  transform: translateX(135px)
}

.links a {
  font-size: 32px;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
}

.links a:hover, a.selected {
  text-shadow: 3px 3px 3px black;
}

.about-link:hover, .about-link.selected {
  color: rgb(255, 136, 0);
}

.code-link:hover, .code-link.selected {
  color: rgb(94, 255, 0);
}

.music-link:hover, .music-link.selected {
  color: rgb(0, 183, 255);
}

.contact-link:hover, .contact-link.selected {
  color: rgb(204, 0, 255);
}